<section>
    <div class="row">
        <div class="col-md-2">
          <nav class="navbar navbar-expand-lg navbar-light">
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <div class="navbar-nav">
      <div class="sidebar">
              <a class="active" href="/tutor/tutor_home">Home</a>
              <a href="/tutor/tutor_profile">Profile</a>
              <a href="/tutor/student_details">Students</a>
              <a href="/tutor/attendance/select_date">Attendance</a>
              <a href="/tutor/assignments">Assignments</a>
              <a href="/tutor/notes">Notes</a>
              <a href="/tutor/announcements">Announcements</a>
              <a href="/tutor/events">Events</a>
              <a href="/tutor/add_photos">Photos</a>
              
            </div>
    </div>
  </div>
</nav>
        </div>
        

<div class="col-md-5 content" style="padding-left:300px;">
    <h2 style="margin-left: 15%;">Event</h2><br>
    <table style="width:100%;">
        <tr>
            <th>Event</th>
            <td>{{event.event}}</td>
        </tr>
        <tr>
            <th>Conducted By:</th>
            <td>{{event.conducted}}</td>
        </tr>
        <tr>
            <th>Topic:</th>
            <td>{{event.topic}}</td>
        </tr>
        <tr>
            <th>Date:</th>
            <td>{{event.date}}</td>
        </tr>
        <tr>
            <th>Entry:</th>
            <td>{{event.method}}</td>
        </tr>

    </table>
    
</div>
    <div class="col-md-5 content">
    <a class="btn btn-success mt-5" href="/tutor/reg_students/{{event._id}}">Show Registered students</a>

</div> 
</div>
<div class="row mt-5">
    <div class="col-md-2"></div>
    <div class="col-md-10 text-center">
        {{#if event.pdffile}}
        <a href="/tutor/view_eventPDF/{{event._id}}" class="btn btn-success mr-4" style="width:300px;">View PDF</a>
        {{/if}}
    </div></div>
   <div class="row mt-5 mb-5">
    <div class="col-md-2"></div> 
    {{#if event.imagefile}}
    <div class="col-md-3" style="background:#eefaee;height:300px;margin-left:15%;">
        <p>Image</p>
        <img src="/events_images/{{event._id}}.jpeg" style="height:250px;width:100%;">
    </div>
    {{/if}}
    {{#if event.videofile}}
    <div class="col-md-3 ml-5" style="background:#eefaee;height:300px;">
        <p>Video</p>
        <video style="height:250px;width:300px;" controls>
            <source src="/events_videos/{{event._id}}.mp4" type="video/mp4">
        </video>
    </div> 
    {{/if}}
</div>
        
       
</section>