<section>

    <div class="row">
        <div class="col-md-2">
          <nav class="navbar navbar-expand-lg navbar-light" style="width:261px;">
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <div class="navbar-nav">
      <div class="sidebar">
                <a href="/tutor/tutor_home">Home</a>
                <a href="/tutor/tutor_profile">Profile</a>
                <a class="active" href="/tutor/student_details">Students</a>
                <a href="/tutor/attendance">Attendance</a>
                <a href="/tutor/assignments">Assignments</a>
                <a href="/tutor/notes">Notes</a>
                <a href="/tutor/announcements">Announcement</a>
                <a href="/tutor/events">Events</a>
                <a href="/tutor/add_photos">Photos</a>
                <a href="#">Quiz</a>
                
            </div>
    </div>
  </div>
</nav>
        </div>
        

<div class="col-md-6 profile content">
      
      <table>
        <tr>
          <th>Name:</th>
          <td>{{profile.name}}</td>
        </tr>
        <tr>
          <th>Roll no.:</th>
          <td>{{profile.rollno}}</td>
        </tr>
        <tr>
          <th>Mobile:</th>
          <td>{{profile.phone}}</td>
        </tr>
        <tr>
          <th>Email:</th>
          <td>{{profile.email}}</td>
        </tr>
               
      </table>  
        
</div>

      <div class="col-md-4 default-img" >
          <img src="/student_images/{{profile._id}}.jpg" class="mb-5">
     </div>



        </div>

<div class="row home-content each-student">
  <div class="col-md-2"></div>
<div class="col-12 col-md-5 p-4">
  <div class="announcements">
    <h3 class="text-center">Exams</h3>
    <table>
        <tr>
            <th>Topic</th>
            <th>File</th>
            <th>Mark</th>
            <th></th>
        </tr>
        <tr>
            {{!-- <td></td>
            <td><a href="#"><i class="fa fa-file-text"></i></a></td>
            <td><input type="text" name="#"  style="width:50px;"></td>
            <td><a href="#" class="btn btn-success">save</a></td> --}}
        </tr>
    </table>
  </div>
</div>
<div class="col-12 col-md-5 p-4">
  <div class="events">
    <h3 class="text-center">Assignments</h3>
    <table>
        <tr>
            <th>Topic</th>
            <th>File</th>
            {{!-- <th>Mark</th>
            <th></th> --}}
        </tr>
        {{#each assignments}}
        <tr>
            <td>{{this.topic}}</td>
            <td><a href="/tutor/stud_PDF/{{this._id}}"><i class="fa fa-file-text"></i></a></td>
            {{!-- <td><input type="text" name="mark" style="width:50px;"></td>
            <td><a href="#" class="btn btn-success">save</a></td> --}}
        </tr>
        {{/each}}
    </table>
</div>
</div>
</div>

</section>