<section>
    <div class="row">
        <div class="col-md-2">
            <nav class="navbar navbar-expand-lg navbar-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <div class="navbar-nav">
                        <div class="sidebar">
                            <a href="/tutor/tutor_home">Home</a>
                            <a href="/tutor/tutor_profile">Profile</a>
                            <a class="active" href="/tutor/student_details">Students</a>
                            <a href="/tutor/attendance/select_date">Attendance</a>
                            <a href="/tutor/assignments">Assignments</a>
                            <a href="/tutor/notes">Notes</a>
                            <a href="/tutor/announcements">Announcements</a>
                            <a href="/tutor/events">Events</a>
                            <a href="/tutor/add_photos">Photos</a>
                            
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <div class="col-8 col-md-6 content container">
            <h2 class="text-center">Edit Student</h2>
            <form action="/tutor/student_details/edit_student/{{student._id}}" method="POST">
                <label for="">Roll No.</label>
                <input type="text" name="rollno" class="form-control" value="{{student.rollno}}">
                <label for="">Name</label>
                <input type="text" name="name" class="form-control" value="{{student.name}}">
                <label for="">Gender</label>
                <input type="text" name="gender" class="form-control" value="{{student.gender}}">
                <label for="">Phone (start with +91)</label>
                <input type="text" name="phone" class="form-control" value="{{student.phone}}">
                <label for="">Email</label>
                <input type="email" name="email" class="form-control" value="{{student.email}}">
                <label for="">Username</label>
                <input type="text" name="username" class="form-control" value="{{student.username}}">

                
                <button type="submit" class="btn btn-success save-btn float-right">Submit</button>
            </form>
        </div>
    </div>
</section>