<section>
    <div class="row">
        <div class="col-md-2">
            <nav class="navbar navbar-expand-lg navbar-light">

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon" style="top:81px;left:0;"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <div class="navbar-nav">
                        <div class="sidebar">
                            <a href="/tutor/tutor_home">Home</a>
                            <a href="/tutor/tutor_profile">Profile</a>
                            <a class="active" href="/tutor/student_details">Students</a>
                            <a href="/tutor/attendance/select_date">Attendance</a>
                            <a href="/tutor/assignments">Assignments</a>
                            <a href="/tutor/notes">Notes</a>
                            <a href="/tutor/announcements">Announcements</a>
                            <a href="/tutor/events">Events</a>
                            <a href="/tutor/add_photos">Photos</a>
                            
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <div class="col-12 col-md-10 student_details container content table-responsive">
            <h2 class="text-center">Student Details</h2>
            <a href="/tutor/student_details/add_student" class="btn btn-success float-right add-btn">Add student</a>
            <table class="table table-condensed">
                <tr>
                    <th>Roll No.</th>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
                {{#each students}}
               
                <tr>
                   <td>
                       <a href="/tutor/student_details/each_student/{{this._id}}">{{this.rollno}}</a>
                    </td>
                    <td>
                        <a href="/tutor/student_details/each_student/{{this._id}}">{{this.name}}</a>
                    <td>
                        <a href="/tutor/student_details/each_student/{{this._id}}">{{this.phone}}</a>
                    <td>
                        <a href="/tutor/student_details/each_student/{{this._id}}">{{this.email}}</a>
                    
                    <td>
                        <a href="/tutor/student_details/edit_student/{{this._id}}"><i class="fa fa-pencil text-dark"></i></a>
                        <a href="/tutor/student_details/delete_student/{{this._id}}" onclick="return confirm('Are you want to delete {{this.name}} ?')"><i class="fa fa-trash ml-4 text-dark"></i></a>
                    </td>
                </tr>
                
                {{/each}}
                
            </table>
        </div>
    </div>
</section>