<section>
    <div class="row">
        <div class="col-md-2">
            <nav class="navbar navbar-expand-lg navbar-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <div class="navbar-nav">
                        <div class="sidebar">
                            <a href="/student_home">Home</a>
                            <a href="/student_profile">Profile</a>
                            <a href="/student_todays_task">Today's Task</a>
                            <a class="active" href="/student_attendance/select_month">Attendance</a>
                            <a href="/student_assignments">Assignments</a>
                            <a href="/student_notes">Notes</a>
                            <a href="/student_announcements">Announcements</a>
                            <a href="/student_events">Events</a>
                            <a href="/student_photos">Photos</a>
                            
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <div class="col-8 col-md-10 attendance content container">
            <h2 class="text-center">Attendance</h2>
            <p class="text-center bg-light p-2">{{selectmonth}}</p><br>
            <table class="table-striped">
                <tr>
                    <th class="pl-5">Date</th>
                    <th>Attendance</th>
                </tr>
                {{#each result}}
                <tr >
                    <td class="pl-5">{{this.date}}</td>
                    <td>{{this.status}}</td>
                    
                </tr>
                {{/each}}
            </table>
        </div>
        </div>
        <div class="row mb-5">
            <div class="col-md-2"></div>
        <div class="col-md-10 bg-light text-center">
            <div class="row">
            <div class="col-md-5">
                <h4>Total Days</h4>
                <h4>Present</h4>
                <h4>Absent</h4>
                <h4>Percentage</h4>
                <h4>Class Avarage</h4>
            </div>
            
            <div class="col-md-5">
               {{#each result}} 
                <h5>{{this.noofdays}}</h5>
                <h5>{{this.pcount}}</h5>
                <h5>{{this.acount}}</h5>
                <h5>{{this.percentage}}</h5>
                <h5></h5>
               {{/each}} 
            </div>
           
            </div>
        </div>
        </div>
    
</section>